body {
    background-color: #30475e;
}

.today {
    display: none;
}

.remove {
    display: none;
}

.container {
    position: relative;
    background-color: #222831;
    border-radius: 10px;
}

.row {
    position: relative;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.btn {
    position: relative;
    align-items: center;
}

.time-table {
    position: relative;
    font-family: 'Permanent Marker', cursive;
}

.abc {
    background-color: #30475e;
}

.weekday {
    position: relative;
    margin-top: .5rem;
    font-size: 3.5rem;
}